* {
    box-sizing: border-box;
    font-weight: bold;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*navbar menu starts*/
.menu {
    padding: 15px;
    background-color: white;
}

.menu-brand-logo:hover {
    cursor: pointer;
}

.navbar-menu-items a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 25px;
}

nav {
    display: inline-block;
    width: calc(100% - 174px);
    text-align: center;
}

.menu-navbar {
    display: inline-block;
}

.navbar-menu-items {
    display: inline-block;
}

.navbar-menu-item-feature {
    color: #ea4242;
}

.navbar-menu-item {
    color: black;
}

.navbar-menu-item:hover {
    color: #ea4242;
    cursor: pointer;
}

/*navbar menu ends*/
/*homepages section starts*/
.row {
    width: 100%;

}

.col {
    width: 100%;
    text-align: Center;
}

.col-4 {
    text-align: center;
    width: 33%;
    display: inline-block;
}

.homepages-title {
    font-size: 30px;
    font-weight: 600;
    color: #343434;
}

.homepage-img img {
    object-fit: cover;
    height: 300px;
}

.homepage-img img:hover {
    cursor: pointer;
}

.demo-number {
    color: #428bca;
    font-size: 18x;
    font-weight: 600;
    line-height: 1.1;
}

.demo-number:hover {
    cursor: pointer;
}

/*homepages section ends*/
/*multiplehomepage section starts*/
#MultipleHomepage {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.col-6 {
    display: inline-block;
}

.left {
    width: 41.6%;
    vertical-align: top;
    text-align: left;
    margin-left: 10px;
}

.left h2 {
    font-weight: 600;
    color: #343434;
    font-size: 22px;
}

.left p {
    line-height: 24px;
    color: #8d8d8d;
    font-size: 12px;
    padding: 20px 0px;
}

.right {
    width: 57%;
}

.col-6.right img {
    height: 390px;
    object-fit: Cover;
    vertical-align: middle;

}

/*#MultipleHomepage section ends*/
/*#MultipleHomepage sectionundaki problemler qalib*/